/*body {
    padding-top: 70px;
    padding-bottom: 30px;
    margin-top:20px;
}*/

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.jumbotron{
    background-image: url('../img/fondo.jpg')!important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

/**.homejumb{
    padding-right: 60px; 
    padding-left: 60px;
    border-radius: 6px;
    background-color: white;
    opacity: 0.5;
}*/

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.nuevo {
    padding-right: 50px; 
    padding-left: 50px;
}
.sidebar{
    background-color: #f5f5f5;
    padding-top: 15px;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
}

.thead-inverse th {
    color: #fff;
    background-color: #373a3c;
}

.thead-default th {
    color: #55595c;
    background-color: #eceeef;
}

.table-inverse {
    color: #eceeef;
    background-color: #373a3c;
}

.table-inverse th,
.table-inverse td,
.table-inverse thead th {
    border-color: #55595c;
}

.table-inverse.table-bordered {
    border: 0;
}
.imgCrud{
    padding: 5px 5px 5px 5px;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.oculto {
    display: none;
}

#order{
    color:black;
    cursor:pointer;
}

#sheepItForm_controls div, #sheepItForm_controls div input {
    float:left;    
    margin-right: 10px;
}
td {
    padding:4px;
}